version: '3.8'
services:
  nextjs:
    build: ./
    env_file:
      - .env
    # ports:
    #   - "3003:3003"
  nginx: 
    image: nginx:latest
    volumes:
      - ./conf.d:/etc/nginx/conf.d
    depends_on:
      - nextjs
    ports:
      - "3007:3007"
    restart: always
    scale: 2
