.btn_common_container{
    display: flex;
    padding: 8px 8px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #34b4fc 0%, #007bcb 100%);
    box-shadow: 0px 4px 16px 0px rgba(50, 50, 71, 0.06),
      0px 4px 8px 0px rgba(0, 100, 168, 0.08);
    border: 1px solid white;
    color: white;
    color: var(--Black-0, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.36px; 
}