.viewmore_header {
    border-bottom: none;
  }
  
  .modalContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 20px;
    align-items: center;
  }
  
  .webinarThumbnail {
    flex: 1;
    max-width: 300px;
  }
  
  .thumbnailImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .webinarDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
  }
  
  .webinarDetails a.btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .webinarDetails a.btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .modal-body {
    padding: 20px;
    background-color: #fff;
  }
  
  .modal-footer {
    background-color: #f1f3f5;
    border-top: 1px solid #e1e1e1;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .webinarDetails .registerButton {
    padding: 10px 20px;
    font-size: 1rem;
    background: linear-gradient(30deg, #34b4fc, #007bcb);
    color: #fff;
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    text-decoration: none;
  }
  
  .webinar_details_inside {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.4rem;
  }
  
  .webinar_main__ {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .webinar_fnt_head {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.015rem;
    line-height: 1rem;
    margin-bottom: 0.4rem;
  }
  
  .webinar_fnt_para {
    font-family: "Inter";
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.015rem;
    line-height: 1rem;
  }
  
  .webinar_details_input_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  