.upcoming_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
  width: 100%;
}

.upcoming_form button {
  padding: 0.5rem;
  border-radius: 8px;
  background: linear-gradient(30deg, #34b4fc, #007bcb);
  color: #fff;
  border: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.upcoming_form button:hover {
  background: linear-gradient(30deg, #34b4fc, #329ee6);
  color: #fff;
}

.imagePreview {
  position: relative;
  display: inline-block;
}

.iconButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.iconButton:hover {
  background: rgba(255, 255, 255, 1);
}

.upcoming_form_webinar_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.label_fnt {
  margin-right: 10px;
  text-align: start;
}

.title {
  text-align: center;
  width: 100%;
  border-bottom: none;
}

.form_input_title_input {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px 10px 10px;
}

.recorded_webinar_input_text_area {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px 10px 10px;
}

.recorded_webinar_input_text_area::-webkit-scrollbar {
  width: 8px;
}

.recorded_webinar_input_text_area::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.upcoming_form input:hover {
  border: 1px solid #1674ca;
}

.recorded_webinar_input_text_area:hover {
  border: 1px solid #1674ca;
}

.recorded_webinar_body {
  padding: 2rem;
}

.modal_header__ {
  border-bottom: none;
}

.webinar_input_half {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  gap: 2rem;
}

.form_input_title_input_half {
  width: 350px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px 10px 10px;
}

.form_input_type_thumbnail_image_cover {
  border-radius: 4px;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.thumbnail__ {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: silver;
}

.thumbnail_text__ {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.label_fnt_webinar {
  color: black;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  line-height: 1rem;
  margin-bottom: 0.4rem;
}

.webinar_input_three_section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  gap: 2rem;
}

.form_input_title_input_half_time{
  width: 225px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px 10px 10px;
}