@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/*Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0 !important;
}
