@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* components/MultiSelectDropdown.module.css */
.dropdown {
  position: relative;
  display: inline-block;
  width: 300px; /* Adjust width as needed */
}

.dropdown__{
  width: 100%;
}

.dropdownToggle {
  border: 1px solid #d1d5db; /* Tailwind's gray-300 */
  border-radius: 0.375rem; /* Tailwind's rounded */
  padding: 0.5rem;
  cursor: pointer;
  background-color: white; /* Tailwind's white */
  display: flex;
  justify-content: space-between; /* Aligns text and icon */
  align-items: center; /* Center vertically */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight:400;
  line-height: 18px;
}

.webinarRecorded{
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 350px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px 10px 10px;

}

.webinarRecorded:hover{
  border: 1px solid #1674ca;
}

.dropdownMenu {
  position: absolute;
  z-index: 20;
  width: 100%;
  background-color: white; /* Tailwind's white */
  border: 1px solid #d1d5db; /* Tailwind's gray-300 */
  margin-top: 0.25rem; /* Tailwind's mt-1 */
  border-radius: 0.375rem; /* Tailwind's rounded */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Tailwind's shadow-md */
    font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 100px;
  overflow-y: scroll;
}


.dropdownMenuWebinar {
  position: absolute;
  z-index: 20;
  width: 44%;
  background-color: white;
  border: 1px solid #d1d5db;
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 100px;
  overflow-y: scroll;
}



.dropdownMenuWebinar::-webkit-scrollbar {
  width: 8px; 
}

.dropdownMenuWebinar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0); 
}


.dropdownMenuWebinar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888; 
}


.dropdownMenuWebinar::-webkit-scrollbar-thumb:hover {
  background-color: #555; 

}.dropdownMenuWebinar {
  position: absolute;
  z-index: 20;
  width: 44%;
  background-color: white;
  border: 1px solid #d1d5db;
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 26%;
  overflow-y: scroll;
}


.dropdownMenuWebinar::-webkit-scrollbar {
  width: 8px; 
}


.dropdownMenuWebinar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0); 
}


.dropdownMenuWebinar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888; 
}


.dropdownMenuWebinar::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.dropdownMenu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.dropdownMenu::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.dropdownMenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
}

.dropdownMenu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.dropdownMenu::-webkit-scrollbar {
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.dropdownMenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
}

.dropdownItem {
  padding: 0.5rem;
  cursor: pointer;
  display: flex; /* Aligns item content horizontally */
  justify-content: space-between; /* Aligns text and checkmark */
  align-items: center; /* Center vertically */
}

.dropdownItem:hover {
  background-color: #f7fafc; /* Tailwind's gray-100 */
}

.selected {
  background-color: #edf2f7; /* Tailwind's gray-200 */
}

.icon {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem; /* Space between text and icon */
}

.arrowIcon {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
}

.checkIcon {
  margin-left: 0.5rem; /* Space between text and checkmark */
}

.checkmark {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
  color: green; /* Color of the checkmark */
}

.greyText{
  color: grey;
}
