@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Navbar base styles */
.navbarconatiner {
  background-color: #fff;
  color: #000;
  padding: 18px;
  border: 1px solid transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobileContainer {
  display: flex;
  gap: 2rem;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.searchContainer {
  position: relative;
}

.user_search_list {
  position: absolute;
  z-index: 999;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.25rem;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}

.errormessage {
  position: absolute;
  z-index: 999;
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
  background-color: #fff;
}

.user_search_card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
}

.user_search_card .emailtext {
  margin-bottom: 0;
  color: #007bcb;
  font-size: 20px;
  font-weight: 500;
}

.user_search_card .emailtext:hover {
  text-decoration: underline;
  color: #007bcb;
}

.user_search_card .numbertext {
  margin-bottom: 0;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.inputWithButton {
  /* position: relative; */
  display: flex;
  align-items: center;
}

/* .searchInput {
  width: 100%;
  padding-right: 50px; 
  padding-left: 10px;
  height: 40px;
} */

.searchButton {
  /* position: absolute; */
  /* right: 2px; */
  /* height: 30px; */
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background: linear-gradient(30deg, #34b4fc, #007bcb);
  color: white;
  border: none;
  padding:0.52rem;
  border: 2px solid #5fb4ed;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.disable_btn {
  background: grey;
  color: #000;
  cursor: not-allowed;
  border: none;
  padding:0.5rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.searchContainer .searchInput {
  padding:0.5rem;
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid rgb(182, 180, 180);
  line-height: 0px;
  font-size: 14px;
}

.searchInput:focus {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0px;
  border: 2px solid red;
}

.searchContainer input:hover {
  border: 2px solid #007bcb;
  line-height: 0px;
  font-size: 14px;
}

.createlead_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee_btn_hide {
  display: none;
}

.createlead_btn button {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding:0.5rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: linear-gradient(30deg, #34b4fc, #007bcb);
  border: 2px solid #fff;

}

.createlead_btn button:hover {
  background: linear-gradient(30deg, #34b4fc, #329ee6);
    color: #fff;
    cursor: pointer;
}

.employee_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee_btn button {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding:0.5rem;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(30deg, #34b4fc, #007bcb);
  border: 2px solid #fff;
}

.employee_btn button:hover {
  background: linear-gradient(30deg, #34b4fc, #329ee6);
  color: #fff;

}

.profile_image {
  background-color: rgb(238, 236, 236);
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_image h1 {
  font-weight: 600;
  font-size: 32px;
}

/* .searchButton {
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #0070f3; 
  color: white;
  border: none;
  border-radius: 4px;
}

.searchButton:hover {
  background-color: #005bb5; 
} */

@media only screen and (max-width: 500px) {
  .subContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 0;
  }
  .mobileContainer {
    display: flex;
    /* gap: .2rem; */
    justify-content: flex-end;
    width: 100%;
  }
  .searchContainer .searchInput {
    width: 200px;
  }

  .createlead_btn {
    display: none;
  }

  .employee_btn {
    display: none;
  }

  .profile_image {
    display: none;
  }
}
