.filters_conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2rem;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(50, 50, 71, 0.06),
      0px 4px 8px 0px rgba(0, 100, 168, 0.08);
      padding:1rem ;

}