.singleprofile_container{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


.profile_Header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0%;
  }

  .profileName {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .profile_avatar {
    background: #007bcb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .profile_avatar h1{
    margin-bottom: 0px;
    font-size: 24px;
  }

  .action_feilds {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .hideupgrade_btn {
    display: none;
  }
  
  .action_feilds .upgrade_btn {
    display: flex;
    background: #007bcb;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  
  .action_feilds .edit_btn {
    background: #007bcb;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  .profile_container{
    background-color: #f4f3f3;
    width: 100%;
    padding: 1rem;
    height: 100vh;
    overflow: hidden;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .informationField {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 80%;
  }
  
  .informationField p:first-child {
    width: 40%;
    display: flex;
    /* justify-content: flex-start; */
    /* text-align: right;  */
    margin-left: auto;
    color: #000;
    font-weight: 500;
  }
  
  .informationField p:last-child {
    width: 40%;
    /* text-align: left;  */
    margin-right: auto;
    font-weight: 400;
  }

