.mainContainer {
    display: flex;
    flex-direction: column;

}

.uploadContainer {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.uploadInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.uploadContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.uploadContainer .inputStylesContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.inputStylesContainer label {
    font-weight: bold;
    color: #333;
}

.inputStylesContainer input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.inputStylesContainer select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
}

.inputStylesContainer button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.upload_btn,
.delete_btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icon {
  font-size: 1rem;
}

.delete_btn {
  background-color: #ff4d4f;
  color: white;
}

.delete_btn:hover {
  background-color: #d9363e;
}

.upload_btn {
  background-color: #007bcb;
  color: white;
}

.upload_btn:hover {
  background-color: #005fa3;
}

.button_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
}