/* styles/WebinarTable.module.css */

/* General table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .row {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }


  .row:hover{
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
  }
  

  .ceil__parent_container{
    width: 100%;

  }


  .application_link{
    text-decoration: none;
    color: #007bcb;
    letter-spacing: .0225rem;

  }

.application_link:hover{
  text-decoration-line: underline;
  color: #007bcb;
}
  


  
  
  .cell {
    padding: 12px;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
  }


.application_delete_container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

  
  .cell button {
    padding: 8px 15px;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  .updateBtn {
    background-color: #0070f3;
    color: white;
  
  }
  
  .updateBtn:hover {
    background-color: #005bb5;
  }
  
  .deleteBtn {
    background-color: #e74c3c;
    color: white;
  }
  
  .deleteBtn:hover {
    background-color: #c0392b;
  }
  
  
  .ViewMore{
    color: #0070f3;
    text-decoration: underline;
    cursor: pointer;
  }

  .loading_container___{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .table {
      font-size: 0.85rem;
    }
  
    .row {
      display: block;
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .cell {
      display: block;
      margin-bottom: 8px;
    }
  
    .thumbnail {
      width: 60px;
      height: 60px;
    }
  
    /* button {
      font-size: 0.75rem;
      padding: 6px 12px;
    } */
  
    .updateBtn, .deleteBtn {
      margin: 5px 0;
    }
  }
  